body {
	background: white;
}

#players {
	display: flex;
	width: 50%;
	margin: auto;
}

.player {
	width: 50%;
	text-align: center;
	font-size: 30px;
}

.player.active {
	font-weight: bold;
	color: red;
}

#table_game {
	border-collapse: collapse;
    margin: 100px auto;
}

.col {
	border: 1px solid black;
	width: 150px;
	height: 150px;
	text-align: center;
}

.col:hover {
	background: #E3DCCC;
	cursor: pointer;
}
© 2021 GitHub, Inc.